# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart

# Cartelle piattaforma generate da `flutter create .`
android/
ios/
web/
linux/
macos/
windows/

# IDE
.idea/
*.iml
.vscode/
