# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub-cache/
.pub/
build/
pubspec.lock
*.g.dart

# Cartelle piattaforma generate da `flutter create .`
android/
ios/
web/
linux/
macos/
windows/

# IDE
.idea/
*.iml
.vscode/
